#block-region-side-pre {
    padding-right: 0;
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .card-group .card.block {
        border: 0;
        box-shadow: 0;
        margin:0;
    }
    .block .card-heading {
        .header {
            background-color: transparent;
            border: 0;
            color: #FFF;
            padding: 0;
            a {
                color: inherit;
                .icon {
                    color: inherit;
                }
            }
            .title {
                .icon-container {
                    margin-bottom: -5px;
                    width: 64px;
                    .courseblock-icon {
                        margin: 5px 18px;
                    }
                    .action-menu .menubar {
                        display: inline-block !important;
                        .action-menu-item,
                        .action-menu-trigger {
                            display: inline !important;
                        }
                        .action-menu-item {
                            margin-left: 3px;
                        }
                        .action-menu-trigger .dropdown-toggle .icon {
                            margin-right: 0;
                        }
                    }
                }
                .block_action,
                h2.sqtitle {
                    display: inline !important;
                }
            }
        }
        @include gradient-directional(lighten($squared-purple, 15%), lighten($squared-purple, 5%));

        .icon-container {
            background-color: darken($squared-purple , 20%);
        }

        h2 {
            font-family: $font-family-sans-serif;
            line-height: 25px;
            padding-left: 5px;
            padding-top: 5px;
        }

        .courseblock-icon {
            width: 25px;
            height: 25px;
            padding: 1px;
            float: left;
            margin: 5px;
            background-size: 100%;
        }
        .commands {
            display: block;
        }
    }
    .block .title a.collapselink {
        color: #FFF;
        &:hover {
            text-decoration: none;
        }
    }
    .block.invisible {
        .card-heading {
            @include gradient-directional(lighten($gray, 15%), lighten($gray, 5%));
        }
        .header h2 {
            color: $gray-lighter;
        }
    }

    .courseblock-icon {
        background: url('[[pix:theme|default-block-icon]]') no-repeat 50% 50%;
        float: left;
        display: block;
        width: 60px;
        padding: 0 10px;
        height: 60px;
        z-index: 1;

    }

    .blockpairs {
        margin-top: 4px;
        padding-left: 0;
        padding-right: 0;
    }

    .pairheader {
        &.left {
            padding-right: 2px;
            padding-left: 0;
        }
        &.right {
            padding-left: 2px;
            padding-right: 0;
        }
        &.left.lastblock {
            padding-right: 0;
        }
    }

    .blockheader {
        background-color: $sq-bgc-default;
        @include gradient-directional(darken($sq-bgc-default, 5%), lighten($sq-bgc-default, 5%));
        border-radius: 0;
        display: block;
        .blockhead {
            color: #FFF;
            display: block;
            .blocktitle {
                margin-left: 5px;
                line-height: 60px;
            }
        }
    }
}

.editing #block-region-side-pre .block {
    .card-heading .header .title h2.sqtitle {
        word-break: break-all;
        line-height: 35px;
        vertical-align: top;
    }
    &.invisible {
        visibility: visible !important;
    }
}

.nozoom #block-region-side-pre {
    @media (min-width: $screen-breakpoint) {
        .over-hover-to-bottom {
            vertical-align: middle;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0,0,0,0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            position: relative;
            -webkit-transition-property: color;
            transition-property: color;
            -webkit-transition-duration: .3s;
            transition-duration: .3s;
            &:active,
            &:focus,
            &:hover {
                color: #fff;
                &:before {
                    -webkit-transform: scaleY(1);
                    transform: scaleY(1);
                }
            }
            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.2);
                -webkit-transform: scaleY(0);
                transform: scaleY(0);
                -webkit-transform-origin: 50% 0;
                transform-origin: 50% 0;
                -webkit-transition-property: transform;
                transition-property: transform;
                -webkit-transition-duration: .3s;
                transition-duration: .3s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
            }
        }
        .courseblock-icon {
            float: none;
            width: 100%;
            height: 32px;
            top: 10px;
        }
        .single-row,
        .two-rows {
            background-color: $sq-bgc-default;
        }
        .blockpairs {
            margin-top: 0;
        }
        .pairheader {
            &.left {
                padding-left: 0;
                padding-right: 0;
            }
            &.right {
                padding-left: 0;
                padding-right: 0;
            }
            &.left.lastblock {
                padding-right: 0;
            }
        }
        .blockheader {
            text-align: center;
            .alignself {
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
            }
            &.squared:after {
              content: "";
              display: block;
              padding-bottom: 100%;
            }
            &.rectangle:after {
              content: "";
              display: block;
              padding-bottom: 50%;
            }
            .blockhead {
                position: absolute;
                text-align: center;
                display: block;
                width: 100%;
                height: 100%;
                .courseblock-icon {
                    margin-bottom: 5%;
                }
                .blocktitle {
                    line-height: 15px;
                    margin-left: inherit;
                }
            }
            &.squared,
            &.rectangle {
                .blockhead {
                    left: 0;
                    right: 0;
                    padding: 0 4px;
                    word-break: break-word;
                    color: #FFF;
                    .courseblock-icon {
                        margin-bottom: 5%;
                    }
                }
            }
            .commands {
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
                width: 20px;
                height: 20px;
                bottom: 0px;
                background-color: #fff;
                border-radius: 20px;
                height: 25px;
                width: 25px;
                padding: 1px 2px;
                position: absolute;
                top: 50%;
                margin-top: -12px;
                left: 5px;
                &.right {
                    left: auto;
                    right: 5px;
                    img {
                        margin: 4px;
                    }
                }
                img {
                    width: 12px;
                    height: 12px;
                    vertical-align: text-top;
                    box-sizing: border-box;
                    margin: 1px 4px;
                    text-align: center;
                }
            }
            .actions .dropdown-menu.dropdown-menu-right>li>a {
                white-space: normal;
                text-align: left;
            }
        }
    }
}

#block-region-side-pre {
    .block {
        &.card {
            border-width: 0;
            margin-bottom: 0;
        }
        .content {
            background-color: lighten($gray-lighter, 3%);
        }
    }

    /* Course page icons for standard block types below */
    .block_settings {
        @include block_icon(settings);
    }

    .block_site_main_menu {
        word-break: break-all;
    }

    .block_tree .tree_item.branch {
        display: inline-block;
    }

    .block_navigation {
        word-break: break-all;
        .block_tree .tree_item.hasicon .item-content-wrap {
            padding-right: 10px;
        }
        @include block_icon(navigation);
    }

    .block_calendar_month {
        @include block_icon(calendar);
    }

    .block_news_items {
        @include block_icon(news_items);
    }

    .block_course_list {
        @include block_icon(course_list);
    }

    .block_participants {
        @include block_icon(participants);
    }

    .block_messages {
        @include block_icon(messages);
    }

    .block_comments {
        @include block_icon(t-block-icon);
    }

    .block_blog_tags {
        @include block_icon(blog_tags);
    }

    .block_rss_client {
        @include block_icon(rss_client);
    }

    .block_glossary_random {
        @include block_icon(default-block-icon);
    }

    .block_completionstatus {
        @include block_icon(default-block-icon);
    }

    .block_calendar_upcoming {
        @include block_icon(calendar_upcoming);
    }

    .block_search_forums {
        @include block_icon(t-block-icon);
    }

    .block_activity_modules {
        @include block_icon(activity_modules);
    }

    .block_blog_menu {
        @include block_icon(blog_menu);
    }

    .block_private_files {
        @include block_icon(private_files);
    }

    .block_section_links {
        @include block_icon(section_links);
    }

    .block_recent_activity {
        @include block_icon(recent_activity);
    }

    .block_simple_nav {
        @include block_icon(navigation);
    }

    .block_online_users {
        @include block_icon(online_users);
    }

    .block_blog_recent {
        @include block_icon(blog_recent);
    }

    .block_adminblock {
        @include block_icon(addblock32);
    }

    .block_comments {
        @include block_icon(comments32);
    }

    .block_community {
        @include block_icon(communityfinder32);
    }

    .block_search_forums {
        @include block_icon(searchforums32);
    }

    .block_quiz_results {
        @include block_icon(quizresults32);
    }

    .block_selfcompletion {
        @include block_icon(selfcompletion32);
    }

    .block_html {
        @include block_icon(newHTMLblock32);
    }

    .block_myprofile {
        @include block_icon(myprofile32);
    }

    .block_tags {
        @include block_icon(tags32);
    }

    .block_exabiscompetencies {
        @include block_icon(exabiscompetencies32);
    }

    .block_exabisportfolio {
        @include block_icon(exabisportfolio32);
    }

    .block_mylanguageportfolio {
        @include block_icon(mylanguageportfolio32);
    }
}

// Styles for non-JS.
#block-region-side-pre {
    .card-collapse.collapse {
        display: block;
    }
    .blockpairs,
    .pairheader {
        display: none;
    }
    .card-group .card.block {
        margin-bottom: 0;
    }
    .block .card-heading {
        min-height: 35px;
    }
    .header img.block-hider-hide,
    .header img.block-hider-show {
        display: none;
    }
}

.jsenabled #block-region-side-pre {
    .card-collapse.collapse {
        display: none;
        &.show {
            display: block;
        }
    }
}

.jsenabled.editing #block-region-side-pre {
    .block .card-heading {
        display: block;
    }
}

.jsenabled:not(.editing) #block-region-side-pre {
    /*
    .card-collapse.collapse {
        display: none;
        &.show {
            display: block;
        }
    }
    .card-body.collapse {
        display: block;
    }
    */
    .block .card-heading {
        display: none;
    }
    .blockpairs {
        display: flex;
    }
    .pairheader {
        display: block;
    }
    .card-group .card.block {
        margin-bottom: 0;
    }
    .block .card-heading {
        min-height: inherit;
        padding: 0;
        display: none;
    }
}

.block .header .block-control-actions .dropdown {
    float: right;
}

.block.block_myoverview {
    .content-centred {
        max-width: none;
    }
    .tab-content {
        .card-deck {
            justify-content: space-evenly;
            .card {
                margin-left: 25px;
                margin-right: 25px;
            }
        }
    }
}
