#page-navbar {
    @media (min-width: $screen-breakpoint) {
        margin-left: -($grid-gutter-width / 2);
        margin-right: -($grid-gutter-width / 2);
    }
    border-bottom: 1px solid #DDD;
    margin-bottom: 0;
    .breadcrumb {
        padding: 7px 15px;
    }
    .breadcrumb-nav {
        display: inline-block;
        margin-bottom: 0;
    }
    .breadcrumb-button {
        display: inline-block;
        float: right;
        margin-top: 0;
        .singlebutton {
            div {
                margin: 0;
                input[type="submit"] {
                    margin: 0;
                }
            }
        }
    }
}