.course_category_tree { 
    .card-deck {
        .card {
            margin-bottom: 30px;
            .card-img-top {
                display: block;
                height: 180px;
                width: 100%;
            }
        }
    }
    .card-img-overlay .card-title {
        background-color: rgba(255,255,255,0.5);
        text-align: center;
        border: 5px solid rgba(255,255,255,0.05);
        border-radius: 4px;
    }
    
    .card-text ul {
        list-style-type: none;
    }
}

@media(min-width: $screen-breakpoint) {
    .course_category_tree { 
        .card-deck {
            .card { 
                flex: 1 0 0%; // Override unbelieveable Boost blocks.scss global!
            }
        }
    }
}
