div.activity.label { // From boost/scss/moodle/undo.scss.
    background: inherit;
    color: inherit;
    border: inherit;
    text-shadow: none;
    padding: 8px;
    white-space: normal;
    display: block;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
}

.course-content {
    .sectionname {
        margin: 0;
        background-color: $gray-lighter;
        
        font-family: $font-family-sans-serif;
        border: 1px solid #fff;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.23);

        .sqheadingicon {
            display: inline-block;
            width: 40px;
            height: 40px;
            background-color: #ccc;
            vertical-align: text-bottom;
        }
        .sqheadingtext {
            padding: 4px 10px;
            vertical-align: text-bottom;
            display: inline-block;
        }
    }

    .section.row {
        margin-left: 0;
        margin-right: 0;
        .sqcol {
            margin-bottom: 2px;
            .activity {
                background-color: #eceeef;
                .activityinstance .sqactivityicon {
                    border-style: solid;
                    border-width: 4px;
                    height: 34px;
                    margin-right: 4px;
                    width: 34px;
                    img.activityicon {
                        margin-left: 5px;
                        margin-right: 5px;
                        margin-top: 5px;
                    }
                }
                .activityinstance a .instancename {
                    line-height: 1;
                    padding-left: 4px;
                    vertical-align: super;
                }
                .contentwithoutlink > a,
                .activityinstance > a {
                    text-indent: -38px;
                    padding-left: 38px;
                }
                .availabilityinfo {
                    margin-left: 36px;
                }
            }
            .contentafterlink {
                border-bottom: 2px solid #eceeef;
                border-left: 2px solid #eceeef;
                border-right: 2px solid #eceeef;
                .contentcontrol {
                    cursor: pointer;
                    text-align: right;
                }
                > .no-overflow {
                    max-height: 35px;
                    position: relative;
                    overflow: hidden;
                    transition: max-height 1s ease;
  
                    &.-expanded {
                        max-height: 420px; // Line height (21px) * 20 lines.
                    }
                    &.-expanded:before {
                        bottom: 0;
                        content: '...';
                        position: absolute;
                        right: 0;
                    }
                    &.-expanded:after {
                        background: #fff;
                        content: '';
                        height: 1em;
                        margin-top: 0.2em;
                        position: absolute;
                        right: 0;
                        width: 1em;
                    }
                }
                > .no-overflow:not(.-expanded)::after {
                    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
                    bottom: 0;
                    content: '';
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }

        // .label vs .label
        div.activity.label {
            padding: 8px;
        }
    }

    .section div.section,
    .section ul.section,
    .section div.summary {
        padding: 15px 20px;
        border: 1px solid #fff;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.23);
        background: #fff;
        font-size: 100%;
    }

    ul.section {
        margin: 0;
    }
}

.course-content ul.topics,
.course-content ul.weeks {
    li.section {
        .left {
            padding: 0;
        }

        .summary,
        .content > .availabilityinfo {
            margin-left: 0;
        }
    }
}

.editing {
    .course-content ul li.section.main {
        .left {
            padding: 0;
        }
    }
}

.course-content li {
    &.section {
        ul {
            list-style: disc;
            ul {
                list-style: circle;
                ul {
                    list-style: square;
                }
            }
        }
        li {
            &.activity {
                ul {
                    list-style: disc;
                    ul {
                        list-style: circle;
                        ul {
                            list-style: square;
                        }
                    }
                }
            }
        }
    }
}

#course-image {
    left: 0;
    margin-left: 1.25rem;
    position: relative;
    top: 1.75rem;
    .course-title {
        background-color: rgba(255, 255, 255, .5);
        border: 5px solid rgba(255, 255, 255, .05);
        border-radius: 4px;
        display: inline;
    }
}

#course-image-container {
    background-size: cover;
    height: 278px;
    margin-bottom: -60px;
    margin-left: -15px;
    margin-right: -15px;
    &.sq-course-image {
        background-size: contain;
    }
}

.coursebox {
    padding: 0;
}

.courses .coursebox {
    &.even {
        background-color: $card-bg;
    }
}

.teachers {
    padding-left: 0;
}
