.course_category_tree { 
    .card-deck {
        .card {
            flex-basis: 18rem;
            margin-bottom: 30px;
            .card-img-top {
                display: block;
                height: 180px;
                width: 100%;
            }
        }
    }
    .card-img-overlay .card-title {
        background-color: rgba(255, 255, 255, 0.5);
        text-align: center;
        border: 5px solid rgba(255, 255, 255, 0.05);
        border-radius: 4px;
    }
    
    .card-text ul {
        list-style-type: none;
    }
}

@media(min-width: $screen-breakpoint) {
    .course_category_tree { 
        .card-deck {
            .card { 
                flex: 0 0 18rem; // Override unbelieveable Boost blocks.scss global!
            }
        }
    }
}

#sqccf {
    margin-bottom: 20px;
}

#sqccs .coursename {
    border-radius: 0;
}
