div.activity.label { // From boost/scss/moodle/undo.scss.
    background: inherit;
    color: inherit;
    border: inherit;
    text-shadow: none;
    padding: 8px;
    white-space: normal;
    display: block;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
}

.course-content {
    .sectionname {
        margin: 0;
        background-color: $gray-lighter;

        font-family: $font-family-sans-serif;
        border: 1px solid #fff;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.23);

        .sqheadingicon {
            display: inline-block;
            width: 40px;
            height: 40px;
            background-color: #ccc;
            vertical-align: text-bottom;
        }
        .sqheadingtext {
            padding: 4px 10px;
            vertical-align: text-bottom;
            display: inline-block;
        }
    }

    .section.row {
        margin-left: 0;
        margin-right: 0;
        .sqcol {
            margin-bottom: 20px;
            .activity {
                background-color: #e1e0e0;
                .card-header {
                    display: flex;
                    align-items: center;
                    background-color: #f6f6f6;
                    padding: 1.25rem 1.25rem 1.25rem 4.25rem;
                    transition: height 1s ease;
                    .instancename.-expanded {
                        overflow: auto;
                        text-overflow: initial;
                        white-space: normal;
                    }
                }
                .modname {
                    line-height: 34px;
                    flex: 1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .sqactivityicon {
                    border-style: none;
                    border-width: 0;
                    height: 34px;
                    margin-right: 1rem;
                    margin-left: -3rem;
                    width: 34px;
                    vertical-align: bottom;
                    img.activityicon {
                        margin-left: 5px;
                        margin-right: 5px;
                        margin-top: 5px;
                    }
                }
                .activityinstance a .instancename {
                    line-height: 1;
                    padding-left: 4px;
                    vertical-align: super;
                }
                .contentwithoutlink > a,
                .activityinstance > a {
                    text-indent: -38px;
                    padding-left: 38px;
                }
                .availabilityinfo {
                    display: inline-block;
                    margin-bottom: .5em;
                    margin-left: 0;
                    margin-top: 0;
                }
                .sqactions {
                    display: inline-block;
                    float: right;
                    left: auto;
                    line-height: 1;
                    position: relative;
                    right: 0;
                    vertical-align: top;
                    .autocompletion {
                        line-height: inherit;
                        padding: 0;
                    }
                    .btn {
                        border: 0;
                        line-height: inherit;
                        padding: 0;
                        position: inherit;
                        vertical-align: inherit;
                    }
                }
                .card-footer {
                    background-color: inherit;
                    border-top: solid 1px black;
                    min-height: 65px;
                    padding: .25rem 1.25rem;
                }
            }
            .sqcontent {
                margin-left: 0;
                margin-top: 0;
                min-height: 32px;
                > .no-overflow {
                    max-height: 32px;
                    position: relative;
                    overflow: hidden;
                    transition: max-height 1s ease;

                    &.-expanded {
                        max-height: 840px; // Line height (21px) * 40 lines.
                    }
                }
                &.sqexpanded.sqmorecontent > .no-overflow:before {
                    bottom: 0;
                    content: '...';
                    position: absolute;
                    right: 0;
                }
                &.sqexpanded.sqmorecontent > .no-overflow:after {
                    content: '';
                    height: 1em;
                    margin-top: 0.2em;
                    position: absolute;
                    right: 0;
                    width: 1em;
                }
                &:not(.sqexpanded).sqexpandedcontent > .no-overflow:before {
                    bottom: 0;
                    content: '...';
                    position: absolute;
                    right: 0;
                }
                &:not(.sqexpanded).sqexpandedcontent > .no-overflow:after {
                    content: '';
                    height: 1em;
                    margin-top: 0.2em;
                    position: absolute;
                    right: 0;
                    width: 1em;
                }
            }
            .sqcontentcontrol {
                cursor: pointer;
                .sqcc {
                    margin-left: 4px;
                }
            }
            .tag {
                white-space: normal; // To wrap 'Available but not shown on course page' type information.
            }
        }

        // .label vs .label
        div.activity.label {
            padding: 8px;
        }
    }

    .section div.section,
    .section ul.section,
    .section div.summary {
        background: #fff;
        border: 1px solid #fff;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.23);
        font-size: 100%;
    }

    .section div.section,
    .section ul.section {
        padding: 15px 25px 15px 34px;
    }

    .section div.summary {
        padding: 15px 40px 15px 50px;
    }

    ul.section {
        margin: 0;
    }
}

.course-content li.section ul {
    padding-left: 2rem;
}

.course-content ul.topics,
.course-content ul.weeks {
    li.section {
        &:first-child {
            margin-top: 0;
        }
        .left {
            padding: 0;
        }

        .summary,
        .content > .availabilityinfo {
            margin-left: 0;
        }
    }
}

.editing {
    .course-content ul li.section.main {
        .left {
            padding: 0;
        }
    }
}

.course-content li {
    &.section {
        ul {
            list-style: disc;
            ul {
                list-style: circle;
                ul {
                    list-style: square;
                }
            }
        }
        li {
            &.activity {
                ul {
                    list-style: disc;
                    ul {
                        list-style: circle;
                        ul {
                            list-style: square;
                        }
                    }
                }
            }
        }
    }
}

.autocompletion {
    @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius); // From Bootstrap .btn
}

h1.course-title {
    padding: 1rem 0;
}

h1.course-title,
.page-header-headings h1 {
    font-size: 24px;
    margin-bottom: 0;
}

#course-image {
    background-size: cover;
    height: 170px;
    margin-left: -15px;
    margin-right: -15px;
    &.sq-course-image {
        background-size: contain;
    }
}

.coursebox {
    padding: 0;
}

.courses .coursebox {
    &.even {
        background-color: $card-bg;
    }
}

.teachers {
    padding-left: 0;
}

.path-course .progress-chart-container {
    float: right;
    margin-top: 1rem;
}

#completionprogressid {
    display: none;
}