.sqcoursecards.card-deck {
    .card {
        .card-img-top {
            display: block;
            height: 120px;
            &.sq-card-image {
                background-repeat: no-repeat;
                background-size: 100%;
            }
        }
    }
    .card-img-overlay {
        bottom: auto;
        padding: $card-img-overlay-padding $card-img-overlay-padding 0;
        .card-title {
            background-color: rgba(255, 255, 255, 0.5);
            border: 5px solid rgba(255, 255, 255, 0.05);
            border-radius: 4px;
            margin-bottom: 0;
            text-align: center;
        }
    }

    .card-text ul {
        list-style-type: none;
    }
}

#sqccf,
#sqccs {
    margin-bottom: 20px;
}

#sqccs .coursename {
    border-radius: 0;
}
