/*
 * Font Face
 */
@mixin font-face($family, $name, $style, $weight){
    @font-face{
        font-family: '#{$family}';
        font-stretch: normal;
        font-style: #{$style};
        src:url('[[font:theme|#{$name}.eot]]');
        src:local('#{$name}'),
            url('[[font:theme|#{$name}.eot]]?#iefix') format('embedded-opentype'),
            url('[[font:theme|#{$name}.woff]]') format('woff'),
            url('[[font:theme|#{$name}.otf]]') format('opentype'),
            url('[[font:theme|#{$name}.ttf]]') format('truetype');
        font-weight: $weight;
    }
}

@mixin block_icon($iconname){
    .courseblock-icon {
        background: url('[[pix:theme|block/#{$iconname}]]') no-repeat 50% 50%;
    }
}

@mixin menu_item($color){
    a,
    a:hover {
        color: #FFF;
    }
    a:hover,
    a:focus {
        background-color: darken($color, 15%);
    }
    background-color: $color;
    .dropdown-menu {
        background-color: darken($color, 5%);
    }
    &.open {
        background-color: darken($color, 5%);
        a,
        a:hover {
            color: #FFF;
            background-color: darken($color, 5%);
        }
    }
}