h1 {
    background-color: transparent;
    color: $h1-text-colour;
    font-size: 1.1em;
    letter-spacing: .15em;
    line-height: $h1-line-height;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
}

ul:not([class]) {
    list-style-type:disc;
}
ol:not([class]) {
    list-style-type:decimal;
}
ul:not([class]), 
ol:not([class]) {
    list-style-position:outside;
}
ul:not([class]) ul,
ol:not([class]) ul {
    list-style-type:circle;
    list-style-position:inside;
}
ol:not([class]) ol,
ul:not([class]) ol {
    list-style-type:lower-latin;
    list-style-position:inside;
}
