$squared-purple: #62BFE5;
$sq-green: #4BA09B;
$sq-red: #DE794E;
$sq-orange: #FFC966;

$brand-success:         $sq-green;
$brand-info:            #5bc0de;
$brand-warning:         $sq-orange;
$brand-danger:          $sq-red;

@import "boost_override.scss";

@import "mixins.scss";
@import "variables.scss";
@import "blocks.scss";
@import "forum.scss";
@import "navbar.scss";
@import "typography.scss";
@import "siteclasses.scss";
@import "footer.scss";
@import "forms.scss";
@import "header.scss";
@import "grid.scss";
@import "images.scss";
@import "login.scss";
@import "breadcrumb.scss";
@import "course.scss";
@import "course_formats.scss";
@import "zoom.scss";
@import "autocomplete.scss";

@include font-face('Source Sans Pro', 'sourcesanspro-regular-webfont', 300);
@include font-face('Source Sans Pro Bold', 'sourcesanspro-bold-webfont', 300);