.headerimages {
    .logo {
        position: absolute;
        z-index: 1;
        .inner {
            background-color: @sq-green;
            height: 124px;
            width: 124px;
        }
    }
    .background {
        .inner {
            height: 124px;
        }
    }
    .headerbgimg,
    .logoimg {
        height: 124px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .logoimg {
        background-size: auto 50%;
    }
    @media(min-width: @screen-sm) {
        .logo {
            position: relative;
            &.fixed {
                position: absolute;
            }
            padding-right: 0;
            .inner {
                height: 174px;
                width: auto;
            }
        }
        .background {
            &.grid {
                padding-left: 0;
            }
            .inner {
                height: 174px;
            }
        }
        .headerbgimg,
        .logoimg {
            height: 174px;
            width: 100%;
            background-color: @sq-green;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .logoimg {
            background-size: 45% auto;
        }
    }
}