@media (min-width: @screen-sm) {
    .navbar-brand {
        .menu_item(@squared-purple);
    }
    .navbar-default .navbar-nav {
        .dropdown {
            cursor: pointer;
        }
        .catcolour1 {
            .menu_item(@sq-green);
        }
        .catcolour2 {
            .menu_item(@sq-red);
        }
        .catcolour3 {
            .menu_item(@sq-orange);
        }
    }
    .navbar {
        margin-bottom: 0;
        border:0;
    }
}