.block {
	border: 0px solid #ccc;
	position: relative;
	margin-bottom: 0px
}

.block .header .block_action img, .block .header .block_action input {
    width: 100%;
    /*height: inherit;*/
}

.block .header .block_action img {
    height: 50px;
}

.block .header {
	padding: 5px 0px;
	background-color: transparent;
}
.header {
	background-color: transparent !important;
	border: none !important;
}

/* frontpage blocks */
#page-site-index .block .header {
	background: url([[pix:theme|blockback]]) no-repeat top left;
	background-color: transparent !important;
	}

#page-site-index .block {
    background-color:  [[setting:bgcolordefault]];
}

#page-site-index .block_html.block {
	cursor: pointer;
	background: url([[pix:theme|blockback]]) no-repeat top left;
	min-height: 174px;
	background-color: [[setting:bgcolordefault]];
}
#page-site-index .block_html.block .header, #page-site-index .block_html.block .content {
	background-image: none;
}

#page-site-index .header, .cell {
	border: none;
}
#page-site-index .sqclear {
	display: none;
}

/* block titles */
.block .title h2 {
	font-size: 1.1em;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.block .content {
	padding: 10px 10px;
	background: transparent;
}

#region-pre .skip-block-to {
    height: 0px;
}

/*course page blocks */
.coursepage #region-pre .rightblock {
	margin-right: 1px;
	margin-top: 0;
	z-index: auto;
	width: 86px;
	background-color: transparent;
	margin-bottom: auto;
	margin-left: auto;
	float: right;
}
.coursepage #region-pre .block .header .commands {
    z-index: 1000;
}

.coursepage .block.hidden.vclass, .coursepage .block_html.block.vclass, .coursepage .block.hidden.vclass.block2, .coursepage .block_html.block.vclass.block2, .coursepage .block.hidden.vclass.block3, .coursepage .block_html.block.vclass.block3, .coursepage .block.vclass.block-hider-show {
	background: [[setting:bgcolordefault]] url([[pix:theme|smallblock]]) no-repeat top left;
	width: 86px;
	clear: none;
	position: relative;
	overflow: visible;
	margin: 0;
	float: left;
}

.coursepage .block.hidden.vclass:hover, .coursepage .block.vclass.block-hider-show {
	position: relative;
}

/*course page block header if pinned */
.coursepage .block.vclass .header, .coursepage .block.vclass.block2 .header, .coursepage .block.vclass.block3 .header, .coursepage .block.vclass.block-hider-show.hidden .header{
	background: [[setting:bgcolordefault]] url([[pix:theme|smallblock]]) no-repeat top left !important;
	box-shadow: -1px 1px 1px rgba(255, 255, 255, 0.15) inset;
	padding: 0px 0px;
}



/*if pinned, then just the color, not the image also block hover for header */
.coursepage .block.vclass.block-hider-show .header, .coursepage .block.hidden.vclass:hover .header {
	background-image: none !important;
	background-position: -1000px -1000px;
	box-shadow: none;
}

.block.hidden.vclass:hover {
	min-height: 125px;
}

.coursepage .block.hidden.vclass:hover, .coursepage .block.vclass.block-hider-show {
	min-height: inherit;
}

.block.hidden.vclass:hover .content {
	display: block;
	height: auto !important;
	max-height: inherit !important;
	min-height: 120px !important;
	opacity: 1;
	width: auto;
	padding: 5px 10px;
}

.block_html.block.hidden.vclass:hover .content, .block_html.vclass.block-hider-show .content {
	background: transparent;
	color: #fff;
	padding: 0px 10px;
	font-size: 90%;
}

.block_html.vclass.block-hider-show .content {
	min-height: 124px;	
}

.coursepage .block.hidden.vclass:hover .content, .coursepage .block.vclass.block-hider-show .content {
	background: [[setting:bgcolordefault]];
	width: 154px !important;
	min-height: 150px;
	left: 0px;
	font-size: 85%;
	position: relative;
	z-index: 500;
	box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
}

.coursepage .block.rightblock.vclass:hover .content {
	width: 154px !important;
}

.coursepage .block.hidden.vclass:hover .content {
	min-height: 67px !important;
}

.coursepage .block.vclass.block-hider-show .content {
	z-index: 99000;
}

.coursepage .block.hidden.vclass.rightblock:hover .content, .coursepage .block.vclass.block-hider-show.rightblock .content {
	margin-left: -87px;
}

/* Block text color */
.block.hidden.vclass:hover .content,
.block.hidden.vclass:hover .content li,
.block.hidden.vclass:hover .content table,
.block.hidden.vclass:hover .content p,
.block.vclass.block-hider-show .content {
	color: #eee;
}

/*overflow visible on course page for new blocks */
.coursepage #page-content #region-pre .region-content, .coursepage #page-content #region-pre {
	overflow: visible;
}

.block_html.block .content a,
.coursepage .block.hidden.vclass:hover .content a,
.coursepage .block.vclass.block-hider-show .content a,
body.pagelayout-frontpage .block.vclass .content,
body.pagelayout-frontpage .block.vclass .content a {
	color: #fff;
}

.block.hidden.vclass .header {
	height: 174px;
	width: 174px;
	padding: 0 0;
	display: table;	
	 -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}

.coursepage .block.hidden.vclass .header, .coursepage .block.vclass.block-hider-show .header {
	height: 87px;
    line-height: 1.2;
	width: 86px;
	padding: 0 0;
	display: table;	
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.block.hidden.vclass .header .title, .coursepage .block.vclass.block-hider-show .header .title {
	vertical-align: middle; 
	display: table-cell; 
}

.block.hidden.vclass .header .title h2, .block.vclass .header .title h2 {
	color: #fff;
	font-size: 22px;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}

/*course page block title */
.coursepage .block.hidden.vclass .header .title h2, .coursepage .block.vclass .header .title h2 {
	font-size: 11px;
    margin: 28px 2px -10px 1px;
    max-height: 40px;
    overflow: hidden;
    width: 82px;
}

.block.vclass:hover .header {
	height: auto;
	padding: 9px 0px 10px;
}

.coursepage .block.vclass:hover .header {
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	height: 86px;
	width: 86px;
	padding: 0px 0px !important;
	background-image: none;
	box-shadow: none;
}

.block.vclass:hover .header .title {
	padding-top: 0px;
}

.block.hidden.vclass .block-hider-show {
    background: transparent;
    display: block;
    height: 45px;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
  	/* IE 5-7 */
 	filter: alpha(opacity=00);
    position: absolute;
    top: 0;
    width: 100%;
}

.coursepage .block.hidden.vclass .block-hider-show {
	height: 80px;
	z-index: 2;
}

.editing .coursepage .block.hidden.vclass .block-hider-show {
	height: 20px;
}

.block.vclass .block-hider-hide {
    cursor: pointer;
	background: transparent;
    display: block;
    height: 45px;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
  	/* IE 5-7 */
 	filter: alpha(opacity=00);
    position: absolute;
    top: 0;
    width: 100%;
}

.coursepage .block.vclass .block-hider-hide {
	height: 80px;
	z-index: 2;
}

.editing .coursepage .block.vclass .block-hider-hide {
	height: 20px;
}

/*courepage icons in blocks*/
.courseblock-icon, #region-main .courseblock-icon {
	display: none;
}

.coursepage .courseblock-icon {
	display: block;
	position: absolute;
	width: 32px;
	height: 32px;
	top: 10px;
	left: 26px;
	z-index: 1;
	background: url([[pix:theme|default-block-icon]]) no-repeat 50% 50%;
}

/*course page icons for standard block types below */
.coursepage .block_settings .courseblock-icon {
	background: url([[pix:theme|block/settings]]) no-repeat 50% 50%;
}

.coursepage .block_navigation .courseblock-icon {
	background: url([[pix:theme|block/navigation]]) no-repeat 50% 50%;
}

.coursepage .block_calendar_month .courseblock-icon {
	background: url([[pix:theme|block/calendar]]) no-repeat 50% 50%;
}

.coursepage .block_news_items .courseblock-icon {
	background: url([[pix:theme|block/news_items]]) no-repeat 50% 50%;
}

.coursepage .block_course_list .courseblock-icon {
	background: url([[pix:theme|block/course_list]]) no-repeat 50% 50%;
}

.coursepage .block_participants .courseblock-icon {
	background: url([[pix:theme|block/participants]]) no-repeat 50% 50%;
}

.coursepage .block_messages .courseblock-icon {
	background: url([[pix:theme|block/messages]]) no-repeat 50% 50%;
}

.coursepage .block_comments .courseblock-icon {
	background: url([[pix:theme|default-block-icon]]) no-repeat 50% 50%;
}

.coursepage .block_blog_tags .courseblock-icon {
	background: url([[pix:theme|block/blog_tags]]) no-repeat 50% 50%;
}

.coursepage .block_rss_client .courseblock-icon {
	background: url([[pix:theme|block/rss_client]]) no-repeat 50% 50%;
}

.coursepage .block_glossary_random .courseblock-icon {
	background: url([[pix:theme|block/default-block-icon]]) no-repeat 50% 50%;
}

.coursepage .block_completionstatus .courseblock-icon {
	background: url([[pix:theme|block/default-block-icon]]) no-repeat 50% 50%;
}

.coursepage .block_calendar_upcoming .courseblock-icon {
	background: url([[pix:theme|block/calendar_upcoming]]) no-repeat 50% 50%;
}

.coursepage .block_search_forums .courseblock-icon {
	background: url([[pix:theme|default-block-icon]]) no-repeat 50% 50%;
}

.coursepage .block_activity_modules .courseblock-icon {
	background: url([[pix:theme|block/activity_modules]]) no-repeat 50% 50%;
}

.coursepage .block_blog_menu .courseblock-icon {
	background: url([[pix:theme|block/blog_menu]]) no-repeat 50% 50%;
}

.coursepage .block_private_files .courseblock-icon {
	background: url([[pix:theme|block/private_files]]) no-repeat 50% 50%;
}

.coursepage .block_section_links .courseblock-icon {
	background: url([[pix:theme|block/section_links]]) no-repeat 50% 50%;
}

.coursepage .block_recent_activity .courseblock-icon {
	background: url([[pix:theme|block/recent_activity]]) no-repeat 50% 50%;
}

.coursepage .block_simple_nav .courseblock-icon {
	background: url([[pix:theme|block/navigation]]) no-repeat 50% 50%;
}

.coursepage .block_online_users .courseblock-icon {
	background: url([[pix:theme|block/online_users]]) no-repeat 50% 50%;
}

.coursepage .block_blog_recent .courseblock-icon {
	background: url([[pix:theme|block/blog_recent]]) no-repeat 50% 50%;
}

.coursepage .block_adminblock .courseblock-icon {
	background: url([[pix:theme|block/addblock32]]) no-repeat 50% 50%;
}

.coursepage .block_comments .courseblock-icon {
	background: url([[pix:theme|block/comments32]]) no-repeat 50% 50%;
}

.coursepage .block_community .courseblock-icon {
	background: url([[pix:theme|block/communityfinder32]]) no-repeat 50% 50%;
}

.coursepage .block_search_forums .courseblock-icon {
	background: url([[pix:theme|block/searchforums32]]) no-repeat 50% 50%;
}

.coursepage .block_quiz_results .courseblock-icon {
	background: url([[pix:theme|block/quizresults32]]) no-repeat 50% 50%;
}

.coursepage .block_selfcompletion .courseblock-icon {
	background: url([[pix:theme|block/selfcompletion32]]) no-repeat 50% 50%;
}

.coursepage .block_html .courseblock-icon {
	background: url([[pix:theme|block/newHTMLblock32]]) no-repeat 50% 50%;
}

.coursepage .block_myprofile .courseblock-icon {
	background: url([[pix:theme|block/myprofile32]]) no-repeat 50% 50%;
}

.coursepage .block_tags .courseblock-icon {
	background: url([[pix:theme|block/tags32]]) no-repeat 50% 50%;
}

.coursepage .block_exabiscompetencies .courseblock-icon {
	background: url([[pix:theme|block/exabiscompetencies32]]) no-repeat 50% 50%;
}

.coursepage .block_exabisportfolio .courseblock-icon {
	background: url([[pix:theme|block/exabisportfolio32]]) no-repeat 50% 50%;
}

.coursepage .block_mylanguageportfolio .courseblock-icon {
	background: url([[pix:theme|block/mylanguageportfolio32]]) no-repeat 50% 50%;
}

/** some specific block styles for calendar block, login block, my profile block, etc. **/

.block_calendar_month table.minicalendar.calendartable td,.block_calendar_month table.minicalendar.calendartable th {
    border: none !important;
}
.block_messages .info, .block_online_users .info {
    color: inherit;
}
.block_calendar_month table.minicalendar {
    margin-bottom: 0px !important;
}

.block_calendar_month table.minicalendar.calendartable th abbr {
    border: none !important;
    text-decoration: none;
}

.block_comments div.content li {
    list-style-type: none;
}

.questionbankwindow.block {
	padding: 0px;
}

.block_tree_box hr {
	background: transparent;
	border: none;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}

/*quiz editing block header */
#page-mod-quiz-edit .questionbankwindow div.header {
	background-color: #eee;
	color: inherit;
}

#page-mod-quiz-edit .questionbankwindow div.header a {
	color: inherit;
}

.outerleftblocks {
	width: 146px;
	height: 146px;
	position: relative;
	padding: 14px
}

.outerleftblocks h3, .innertube h3 {
	color: #fff;
	font-weight: bold;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.6em;
	text-transform: uppercase;
}

.outerleftblocks .plainlogin {
	color: #fff;
	display: block;
	text-align: center;
	width: 75%;
	margin: 0 auto 0px;
	font-size: 0.9em;
}

#newlogin {
	position: absolute;
	background:#d3d3d3 url([[pix:theme|blockback]]) no-repeat top left;
	bottom: 0;
    left: 0;
    padding: 14px 14px 14px;
}

.outerleftblocks span.loginlink {
	color: #FFFFFF;
    font-size: 13px;
    padding: 0 0;
    margin: 0 0;
    text-align: center;
    text-transform: none;
    display: block;
}

.footercontent .standardbutton.plainlogin, .footercontent .standardbutton.plainlogin:hover {
	border: none;
	background: none;
	text-transform: none;
	font-size: 1em;
	box-shadow: none;
}


.footercontent .loginlink {
	display: none;
}

.loginlink a {
	color: #fff;
}

.outerleftblocks .logininfo{
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0;
	font-size: 1.3em;
}

#newlogin.generalpage {
	position: relative;
}

#page-header .loggedintext, #leftcolumn .loggedintext {
	color: #414141;
	font-size: .8em;
	position: absolute;
	bottom: 180px;
	padding-right: 10px;
	font-weight: normal;
	margin-left: -14px;
	display: block;
}

#page-header .loggedintext a, #leftcolumn .loggedintext a {
	color: #414141;
	font-size: 1.4em;
	margin: 5px 0;
	border-bottom: 1px solid #666;
	padding-bottom: 5px;
	clear: both;
	line-height: 1.1em;
	display: block;
}

#newlogin input[type="text"], #newlogin input[type="password"] {
    padding: 2px 4px;
    height: 18px;
}

#newlogin #login_username2 {
	width: 133px;
}

#page-header .loggedinlogout, #leftcolumn  .loggedinlogout{
	color: #414141;
	bottom: 0;
    font-size: 0.9em;
    left: 0;
    padding: 5px 15px;
    position: absolute;
	background: #e9e9e9;
	display: block;
}
#leftcolumn .loggedinlogout a, #page-header .loggedinlogout a{
	color: rgb(51, 51, 51);
}

.loginform2 label {
	font-size: .9em;
}

#login_password2 {
	float: left;
    width: 93px;
}

#newloginbutton {
	font-size: .85em;
	height: 26px;
	padding: 0 0;
	width: 30px;
	background: #31abdc url([[pix:theme|Arrow-Right]]) no-repeat 9px 50%;
	color: #fff;
	border: 1px solid #2893bf;
	box-shadow: none;
	text-shadow: none;
	float: right;
	border-radius: 0px;	
}

#newloginbutton:hover {
	box-shadow: 0px 0px 5px #2893bf inset;
}

.gecko #newloginbutton {
	height: 28px;
}

#newlogin .userimg2 {
	margin: -14px;
}
.footercontent .userimg2 {
	display: none;
}

/*left colum link block and user on frontpage */
#course-link-holder {
	background: #E9E9E9;
	height: 174px;
}

.notloggedin #course-link-holder, .guestuser #course-link-holder {
	background: #2eaadc url([[pix:theme|blockback]]) no-repeat top left;
}
.guestuser .innertube, .notloggedin .innertube {
	padding: 14px 14px 14px;
}

.innertube {
	padding: 44px 25px 15px;
	color: #fff;
}

.innertube a {
	font-weight: bold;
	font-size: 13px;
	display: block;
	padding-left: 10px;
	padding-bottom: 15px;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	background: url([[pix:theme|white-buttlet]]) no-repeat 0px 6px !important;
}

#page-site-index.notloggedin .innertube a {
	color: #fff;
}

#course-link-holder .innertube a, .innertube a {
	color: #333;
	background: url([[pix:theme|gray-buttlet]]) no-repeat 0px 6px !important;
}

.innertube a:hover {
	text-decoration: underline;
}

.innertube p {
	font-size: 13px;
	line-height: 20px;
}

#left-user {
	position: relative;
	max-height: 174px;
	background: #fff;
}

/*mymoodle unblock styles */
.path-my #region-main block.hidden.vclass .block-hider-show {
	height: auto;
}


/*new header blocks */
.clearer2 {
	clear: both;
}
.headerblock {
	position: absolute;
	width:174px;
	height: 174px;
	background: [[setting:bgcolordefault]] url([[pix:theme|blockback]]) no-repeat top left;
	opacity: .85 !important;
	overflow: hidden;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.headerblock:hover {
	opacity: 1 !important;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.headerblock.trans {
	opacity: .4 !important;
}

.headerblock.trans:hover {
	opacity: 1 !important;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

/*block position */
.headerblock1, .headerblock2 {
	height: 174px;
	top: 0px;
}

.headerblock1 {
	right: 348px;
}

.headerblock2 {
	right: 522px;
}

.headerblock3, .headerblock4 {
	top: 174px;
}

.headerblock3 {
	right: 174px;
}

.headerblock4 {
	right: 348px;
}

/*block position 2 */
.blocklayout-1-2 .scroll1 .headerblock1, .blocklayout-2-2 .scroll2 .headerblock1, .blocklayout-3-2 .scroll3 .headerblock1, .blocklayout-4-2 .scroll4 .headerblock1, .blocklayout-5-2 .scroll5 .headerblock1 {
	right: 522px;
}

.blocklayout-1-2 .scroll1 .headerblock2, .blocklayout-2-2 .scroll2 .headerblock2, .blocklayout-3-2 .scroll3 .headerblock2, .blocklayout-4-2 .scroll4 .headerblock2, .blocklayout-5-2 .scroll5 .headerblock2 {
	right: 348px;
}

.blocklayout-1-2 .scroll1 .headerblock3, .blocklayout-2-2 .scroll2 .headerblock3, .blocklayout-3-2 .scroll3 .headerblock3, .blocklayout-4-2 .scroll4 .headerblock3, .blocklayout-5-2 .scroll5 .headerblock3 {
	right: 348px;
}

.blocklayout-1-2 .scroll1 .headerblock4, .blocklayout-2-2 .scroll2 .headerblock4, .blocklayout-3-2 .scroll3 .headerblock4, .blocklayout-4-2 .scroll4 .headerblock4, .blocklayout-5-2 .scroll5 .headerblock4 {
	right: 174px;
}

.headerblock a.inner {
	height: 174px;
	width: 174px;
	padding: 0 0;
	display: table;
	opacity: 1;
}

.headerblock.text .inner span {
	color: #fff;
	font-size: 22px;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	vertical-align: middle; 
	display: table-cell; 	
	max-width: 72px;
    word-wrap: break-word;
}

.headerblock.para .inner {
	color: #fff;
	font-size: 16px;
}

.headerblock.para .inner span {
	padding: 15px;
	display: block;
}

.coursepage .block .header .commands {
	position: absolute;
	left: 5px;
	top: 68px;
}

/*move twitter block */
#page-site-index .block_rss_client, #page-login-index .block_rss_client {
	display: none;
}

#leftcolumn .innertube .content {
	height: 110px;
    overflow: auto;
}

#leftcolumn .innertube .content ul {
	margin: 0 0;
	padding: 0 0;
	list-style-type: none;
}

#leftcolumn .innertube .content li {
	list-style-type: none;
}

#leftcolumn .innertube .content li a {
	font-size: 11px;
    font-weight: normal;
    padding: 0 0 5px;
	background: transparent !important;
}