#block-region-side-pre .block .card-heading .header .title .icon-container {
    margin-bottom: -5px;
    width: 64px;
}

#block-region-side-pre .block .card-heading .header .title .icon-container .courseblock-icon {
    margin: 5px 18px;
}

#block-region-side-pre .block .card-heading .header .title .icon-container .action-menu .menubar {
    display: inline-block !important;
}

#block-region-side-pre .block .card-heading .header .title .icon-container .action-menu .menubar .action-menu-item,
#block-region-side-pre .block .card-heading .header .title .icon-container .action-menu .menubar .action-menu-trigger,
#block-region-side-pre .block .card-heading .header .title .block_action,
#block-region-side-pre .block .card-heading .header .title h2.collapselink {
    display: inline !important;
}

#block-region-side-pre .block .card-heading .header .title .icon-container .action-menu .menubar .action-menu-item {
    margin-left: 3px;
}

#block-region-side-pre .block .card-heading .header .title .icon-container .action-menu .menubar .action-menu-trigger .dropdown-toggle .icon {
    margin-right: 0;
}

.editing #block-region-side-pre .block .card-heading .header .title h2.collapselink {
    word-break: break-all;
    line-height: 35px;
    vertical-align: top;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
