/*outer box of forum */
.forumpost {
  border:none;
  width: auto;
}

.forumpost .row.header {
	background: #dadbdb url([[pix:theme|h3sections]]) repeat-x top left; 
	color: #000;
	font-weight: normal;
	margin-bottom: 15px;
	padding: 0px 0px;
	border: 1px solid #fff;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.23);
	width: auto;
	height: 43px;
}

.forumpost .row .left.picture {
    float: left;
    overflow: hidden;
    width: 43px;
    padding: 0;
    background: url([[pix:theme|section-box-bg]]) no-repeat top left;
	background-color: [[setting:bgcolordefault]];
	height: 43px;
}

.forumpost .row .topic {
	padding: 5px 10px;
}

.forumpost .row.maincontent {
	padding: 15px 20px; 
	border: 1px solid #fff;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.23);
	background: url([[pix:theme|section-grad]]) repeat-x top left;
	width: auto;
}

.forumpost .row.maincontent .left {
	display: none;
}

.forumpost .row.side {
	font-size: 85%;
	padding-top: 10px;
}

.forumpost .maincontent .no-overflow {

 }

.forumpost .commands {
	padding-right: 5px;
	font-size: 1em;
}

.info .name a {
    font-weight: bold;
}

.indent {
    margin-left: 30px;
}

div.subscribelink {
    text-align: right;
}

.subscribelink a {
    text-decoration: none;
    font-size: 11px;
}

/*new forum stlye */
.path-mod-forum table.forumheaderlist {
	border: 0px solid transparent;
}

.path-mod-forum .forumheaderlist thead {
	border: 1px solid #fff;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.23);
	font-size: 90%;
}

.path-mod-forum .forumheaderlist th {
	border: 0px solid transparent;
	border-right: 1px solid #fff;
	background: #dadbdb url([[pix:theme|h3sections]]) repeat-x top left; 
	color: #000;
	font-weight: normal;
	margin-bottom: 0px;
	margin: 0 0;
	padding: 10px 15px;
	text-transform: uppercase;
}

.path-mod-forum .forumheaderlist tbody {
	border: 1px solid #fff;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.23);
	background: url([[pix:theme|section-grad]]) repeat-x top left;
	font-size: 85%;
}

.path-mod-forum .forumheaderlist .forumblank {
	height: 15px;
}

.path-mod-forum .forumheaderlist td {
    border-color: #dadada;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-collapse: collapse;
    padding: 2px 8px;
}

.path-mod-forum .forumheaderlist .r1 td {
	background: transparent;
}

.path-mod-forum .forumheaderlist .discussion .lastpost {
    border-right: 0 none;
}

.forumheaderlist .author a, .forumheaderlist .replies a, .forumheaderlist .lastpost a {
	color: #000;
}

.singlebutton.forumaddnew {
	text-align: right;
	margin-top: 10px;
}

.navbar .forumsearch {
	display: none;
}

#page-mod-forum-discuss .discussioncontrol.displaymode {
    text-align: right;
}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol {
    float: right;
    padding-right: 10px;
    width: 100%;
}

.discussioncontrol .singleselect {
    margin: 0;
    text-align: right;
}

.path-mod-forum .indent {
    margin-left: 15px;
}

#page-mod-forum-view .unread, .forumpost.unread .row.header, .path-course-view .unread, span.unread {
    background-color: #dadbdb;
}

.forumpost.unread .maincontent {
    border: 2px solid red;
}