html,body {
	margin: 0;
	padding: 0;
	background: #fff;
	color: #333;
}

html {
    overflow-y: scroll;
}

html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea, div {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h3 {
	line-height: normal;
}

/* background: #f1eee7 url([[pix:theme|bkg]]) no-repeat 100% 0; */

/*link colors */
a:link,
a:visited, .tabtree .tabrow0 li a  {
    color: #3063a6;
    text-decoration: none;
}

a:hover,
a:active {
    color: #3063a6;
    text-decoration: none;
}

a:active {
    outline: 0;
/* for browsers that understand */
}

a:focus {
    outline: 0;
/* for browsers that understand */
}

/* real main headings */
.headingblock, .sitetopic h2 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #31ABDC;
  border-bottom: 0px solid #eee;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 0.5em;
}
.course h1, h1 {
	font-size: 2em;
	margin-bottom: 0.9em;
}

/*outercontainer */
#wrapper {
	width: 1218px;
	min-width: 960px;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
	clear: both;
}

/*outer container around moodle content, set padding here for moodle content if necessary */
#page-content-wrapper {
	
}

#page-content {
	float: none;
}

.overflow #page-content {
	overflow: visible;
}

.clearer {
	clear: both;
}


/* header, get rid of the float from base theme */
#above-header {
	height: 55px;
	position: relative;
}

#navbox {
	position: relative;
}

#navover {
	background: #FAFAFA;
    border: 1px solid #DDDDDD;
    box-shadow: 1px 1px 2px #DADADA inset, 0 0 10px #EEEEEE inset;
    display: block;
    float: left;
    margin-right: 0.4em;
    overflow: visible;
    padding: 4px 4px 7px 4px;
}

#newsearch {
	float: left;
	margin-left: 174px;
    margin-top: 16px;
    min-width: 300px
}

#newsearch2 {
	width: 100%;
}

#newsearch form {

}

#newsearchfield {
	background: #FAFAFA;
    border: 1px solid #DDDDDD;
    box-shadow: 1px 1px 2px #dadada inset, 0 0 10px #EEEEEE inset;
    color: #666666;
    padding: 4px 5px;
    height: auto;
    font-size: .9em;
    float: left;
}

#newsearchbutton {
	font-size: .85em;
	padding: 0px 10px;
	min-width: 30px;
	height: 26px;
	float: left;
	margin-left:  0.4em;
	background: #fafafa url([[pix:theme|search]]) no-repeat 50% 50%;
	border: 1px solid #DDDDDD;
    box-shadow: 1px 1px 2px #dadada inset, 0 0 10px #EEEEEE inset;
    border-radius: 0px 0px;
}

#page-header {
	float: none;
}

.frontpage #page-header {
	height: 348px;
	position: relative;
	background: url([[pix:theme|grey-repeat]]) repeat-x 174px 100%;
}

.frontpage #page-header2 {
	height: 348px;
}

.frontpage .scroll-header {
	height: 348px;
}

#main-slider {
	margin-left: 174px;
    position: absolute;
    width: 1045px;
}

.frontpage .scroll1 {
	background: transparent url([[setting:slideimage1]]) no-repeat 0px 100%;
}

.frontpage .scroll2 {
	background: transparent url([[setting:slideimage2]]) no-repeat 0px 100%;
}

.frontpage .scroll3 {
	background: transparent url([[setting:slideimage3]]) no-repeat 0px 100%;
}

.frontpage .scroll4 {
	background: transparent url([[setting:slideimage4]]) no-repeat 0px 100%;
}
.frontpage .scroll5 {
	background: transparent url([[setting:slideimage5]]) no-repeat 0px 100%;
}

#main-slider .scroll2, #main-slider .scroll3, #main-slider .scroll4, #main-slider .scroll5 {
	display: none;
}

#preloader {
	background: 
	url([[setting:slideimage1]]) no-repeat 0px 100%,
	url([[setting:slideimage2]]) no-repeat 0px 100%,
	url([[setting:slideimage3]]) no-repeat 0px 100% ,
	url([[setting:slideimage4]]) no-repeat 0px 100%,
	url([[setting:slideimage5]]) no-repeat 0px 100%;
	display: none;
}

.headerblock {
	visibility: hidden;
}

.oneblock .headerblock {
	visibility: visible;
}

.flex-active-slide .headerblock {
	visibility: visible;
}

.coursepage1 #page-header {
	height: 174px;
	position: relative;
}

.coursepage1 #page-header2 {
	height: 174px;
	background: url([[setting:headerimagecourse]]) no-repeat 174px 100%;
}

/*logo if any*/
#logo {
	position: absolute;
    right: 0;
    top: -16px;
}

.www-virtuelle-ph-at #logo {
	position: absolute;
    right: 100px;
    top: -16px;
}

#page-site-index #logo {
	z-index: 999;
}

.coursepage #logo {
	right: 0;
}

.www-virtuelle-ph-at .coursepage #logo {
	right: 90px;
}

/* Navbar */

.navbar {
  border-bottom: 1px solid #FFFFFF;
    border-style: none none solid;
    border-width: 1px 0;
    clear: both;
    font-size: 85%;
    margin: 0 0 0 174px;
    overflow: visible;
    padding: 0 9px 0px;
    position: relative;
    
    min-height: 29px;
}

.content-only .navbar {
	margin: 0 0;
}

.side-pre-only .coursepage .navbar {
	padding-left: 40px;
}

/*hide certain breadcrumb items from function in renderer */
.breadcrumb .navbar_courses_0, .breadcrumb .navbar_1_20, .breadcrumb .navbar_1_10, .breadcrumb .type30 {
    display: none;
}

.breadcrumb {
	padding: 7px 0px 3px;
	color: #000;
}

.breadcrumb li {
	position: relative;
}

.breadcrumb a {
	color: #000;
}

.navbar .sep {
   font-size: .8em;
   color: #333;
   padding: 0px 5px;
}

.navbutton table, .navbutton table td {
	margin: 0 0;
	padding: 0 0;
}

.breadcrumb li:last-child a {
	border-bottom: 3px solid [[setting:bgcolordefault]];
    font-weight: 800;
    padding-bottom: 6px;
}

/* footer */
#page-footer {
	float: none;
	width: auto;
	min-height: 140px;
	padding-top: 20px;
	background: url([[pix:theme|footer1]]) no-repeat 100% 80px;
	color: #848484;
	position: relative;
	text-align: left;
	font-size: 11px;
}

#footer-left {
	float: left;
	margin-left: 185px;
	padding-top: 25px;
}

#footer-left a {
	color: #848484;
}

#footer-left span a {
	padding-right: 15px;
}

#page-footer .logininfo {
    display: inline;
    margin: 0;
    padding: 1em 0;
}

#footer-left .logininfo a {
	padding-right: 0px;
}

#page-footer .logininfo {
    margin: 0 0px;
}

#footer-right {
	float: right;
	padding-right: 10px;
	padding-top: 10px;
}

#footer-right img {
	float: left;
	margin-left: 5px;
}

/* forms and boxes */
.mform fieldset {
    border-color: #e5e5e5;
}

.mform legend.ftoggler {
	color: #333;
    border: 1px solid #dadada;
    
    background: #eee url([[pix:theme|bar1]]) repeat-x bottom left;
   
    -moz-box-shadow: 1px 1px 1px #FAFAFA inset, 1px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 1px #FAFAFA inset, 1px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 1px #FAFAFA inset, 1px 2px 2px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 0 #fff;
    
    padding: 5px 15px;
}

.generalbox {
    border-color: #e5e5e5;
    padding: 5px;
}

.sitetopic, .categorybox {
	border: none;
	padding: 0px;
}

#intro.generalbox {
    background: transparent;
    border: 0px;
    margin: 0 auto;
    padding: 10px 0px 5px;
    width: auto;
}

h2.main, h3.main, h4.main {
	text-align: left;
	padding: 0.3em 0 .5em;
	color: #000;
	font-weight: normal;
}

#notice,
.redirectmessage2 {
    text-align: center;
    border-color: #e5e5e5;
    padding: 5px;
}

.pagelayout-redirect #content {
	width:60%; background: #fff; margin: 20px auto; padding: 1em;
	border: 1px solid #dadada;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

/* success or error message page-content */
div.box.errorbox {
    border: 1px solid #dadada;
    color: #ff0000;
    background: #fff url([[pix:theme|error]]) no-repeat 1% 3%;
    padding: 10px;
}

div.redirectmessage {
    width: 60%;
    margin: 10px auto 0 auto;
    border: 0px solid transparent;
    font-size: 13px;
    background: #fff url([[pix:theme|ajax-loader]]) no-repeat 50% 95%;
    padding: 20px 20px 40px;  
}

.mform .error {
	border: 1px dashed red;
}

.mform .error span {
	border: none;
}

/*tabs */
.tabtree ul {
    text-align: left;
}

.tabtree .tabrow0 li a {
   background: #dadbdb url([[pix:theme|h3sections]]) repeat-x top left;
   }
.tabtree .tabrow0 li a, .tabtree .tabrow0 li a:hover {
   -moz-box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.1);
   -webkit-box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.1);
   box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.1); 
   color: #000;
   font-weight: 500;
   font-size: 11px;
}

.tabtree .tabrow0 .here a {
    background: [[setting:bgcolordefault]] url([[pix:theme|tabselect]]) no-repeat top left;
    padding-bottom: 11px;
    color: #fff;
}

.tabtree .tabrow0 li a:hover {
	background: [[setting:bgcolordefault]] url([[pix:theme|tabselect]]) no-repeat top left;
	color: #fff;
}


.tabtree .tabrow0 li a, .tabtree .tabrow0 li a:hover {
    border-color: #fff;
    border-style: solid;
    border-width: 1px 1px 0;
    padding: 12px 10px 12px;
}

.ie7 .tabtree .tabrow0 li a {
	padding-bottom: 7px;
}

.tabtree .tabrow0 li.here .empty {
    bottom: -11px;
    border-top: 1px solid #fff;
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2);
}

/*2nd row */
.tabtree .tabrow0 .tabrow1 {
    padding: 15px 0 2px;
}

.tabtree .tabrow1 li a {
    border-color: transparent;
    border-style: solid;
    border-width: 1px 1px 0;
    padding: 8px 10px 4px;
}

.tabtree .tabrow0 ul, .tabtree .tabrow0 div {
    border-top: 1px solid #DDDDDD;
}    

.tabtree .tabrow1 ul, .tabtree .tabrow1 div {
    border-top: 0px;
}

tabtree .tabrow0 ul, .tabtree .tabrow0 div {
    border-top: 1px solid #CCCCCC;
} 
/* Tables */

#page-mod-glossary-editcategories .generalbox,
#page-user-action_redir .generaltable,
#page-user-index #participants,
.path-mod-forum .forumheaderlist2 {
    border-width: 1px;
    border-color: #eee;
    border-style: solid;
}

/*table header */
#page-mod-glossary-editcategories .generalbox th,
#page-user-action_redir .generaltable th,
#page-user-index #participants th,
.path-mod-choice .results th,
#page-admin-course-manage .generalbox th, .editcourse .header, .results .header, #attempts .header, .generaltable .header, .plugincompattable th, .environmenttable th, .forumheaderlist2 th {
     color: #333;
    background: #eee url([[pix:theme|bar1]]) repeat-x bottom left;
    border-bottom: 1px solid #d5d5d5;
    -moz-box-shadow: 1px 1px 1px #fafafa inset;
    -webkit-box-shadow: 1px 1px 1px #fafafa inset;
    box-shadow: 1px 1px 1px #fafafa inset;
    text-shadow: 0 1px 0 #fff;
    }

#page-user-action_redir .generaltable td,
#page-user-index #participants td,
.path-mod-forum .forumheaderlist td {
    border-color: #dadada;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-collapse: collapse;
    padding: 2px 8px;
}

#page-user-action_redir .generaltable .r1 td,
#page-user-index #participants .r0 td,
.path-mod-choice .results .count, .generaltable .r0 td {
    background: #fafafa;
}


a.dimmed, a.dimmed_text, .dimmed_text, .dimmed_text a, .dimmed_category, .dimmed_category a {
    color: #AAAAAA;
}

/** yui overlays **/

div.yui3-widget.yui3-overlay.yui3-widget-positioned, #helppopupbox {
    border: 1px solid #ccc;
}

div.yui3-overlay-content.yui3-widget-stdmod {
    border: 1px solid #fff;
    background: #ffff66 url([[pix:theme|alert-overlay]]) repeat-x;
}

div.yui3-widget-bd {
    border: none;
    background: none;
}

div.yui3-widget-bd h1.helpheading {
    font-size: 16px !important;
    font-weight: 800;
    margin-top: 5px;
}

.yui-module.yui-overlay.yui-panel div.hd {
    background: #eeeeee;
    }

/* report fixes and grade table fixes */
.path-course-report #region-main-box #region-main .region-content, .path-course-report #page-content #region-main-box #region-post-box #region-main-wrap #region-main .region-content, .pagelayout-report .no-overflow {
	overflow: auto;
}

.pagelayout-report #page-content {
    overflow: hidden;
} 

.overview-tablecontainer, .graph {
	overflow: auto;
}

table#completion-progress {
	display: block !important;
    overflow: auto;
    width: 100%;
}

#page-admin-plugins #plugins-control-panel {
    display: block;
    overflow: auto;
}

#page-site-index .coursebox {
	padding-bottom: 15px;
}

#page-admin-course-manage .generalbox, #tempform {
	overflow: auto;
	display: block;
	border: 0px;
}

/*My Moodle Page */
.path-my .coursebox .info {
    float: none;
    text-align: left;
    width: 90%;
}

/*buttons */
input[type="submit"], input[type="button"], #searchform_button, .standardbutton {
	padding: .5em .8em .5em;
	font-size: .95em;
	cursor: pointer;
	border: 1px solid #fff;
	background: [[setting:bgcolordefault]];
	color: #fff;
	text-shadow: none;
	text-transform: uppercase;
}

input[type="submit"]:hover, input[type="button"]:hover, #searchform_button:hover, .standardbutton:hover{
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

/* form elements */
textarea {
	width: auto;
}

/*filemanager */
.filemanager-container ul li {
    border-bottom: 1px dashed #CCCCCC;
    padding: 0.5em 0;
}

.filemanager-container {
    padding: 1em 1.5em 1.5em;
}

.loginbox.twocolumns .loginpanel {
    border-right: 1px solid #EEEEEE;
}

.www-virtuelle-ph-at .loginbox .loginsub {
	display: none;
}

/*gradebook updates and fixes */
/* gradebook column headers */
/*grade menu hover menu */
.actionmenu .yui3-menu-content li a {
	color: #000 !important;
}

.actionmenu div.yui3-menu {
	border: 1px solid #ccc !important;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
	background: #fff !important;
}
table#user-grades .catlevel1, table#user-grades .r1, .path-grade-report-grader table tr.even td.cell, .path-grade-report-grader table tr.even th {
    background: #FFFFFF;
}

table#user-grades th.item {
    max-width: 40px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

table#user-grades th.item:hover {
    max-width: 250px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.pagelayout-report .tabtree {
    font-size: 90%;
}

div.graderreportoverlay {
	font-size: 80%;
	padding: 1em;
}

#page-grade-report-user-index #graded_users_selector {
   float: none;
}

table.user-grade {
    width: 100%;
}

/*gradebook fixed student names column alignment issue for IE8 only */
/*gradebook fixed student names column alignment issue */
.ie8 table#user-grades th.category {
	border-width:0px 0px 1px;
}

/*form field overlays */
#login2 p, #newsearchform { position:relative;}

#login2 p { margin: 20px 0px 25px 0px;}

#login2 label { 
	position:absolute; 
	top:4px; 
	left:5px;
}

#newsearchform {

}

#newsearchform label  { 
	position:absolute; 
	top:3px; 
	left:52px;
}

#newsearchform fieldset {
	margin: 0 0;
}

/*new right column for frontpage */
.sitetopic .no-overflow {
	overflow: inherit;
}

#newright-column {
	float: right;
    margin-bottom: 25px;
    margin-left: 25px;
    min-height: 200px;
    width: 380px;
    display: block !important;
    
}

#newright-column .nc1, #newright-column .nc2 {
	width: 175px;
	min-height: 100px;
	float: right;
	padding-top: 100px;
}

#newright-column .nc1 {

}

#newright-column .nc2 {
	margin-left: 25px;
}

#newright-column .nc1 p {
	padding: 10px 2px;
	border-bottom: 1px dotted #4db7e1;
	font-size: .8em;
}

#newright-column .nc2 p {
	padding: 10px 2px;
	border-bottom: 1px dotted #275ca2;
	font-size: .8em;
}

.ncbullet {
	float: left;
    margin-right: 5px;
    margin-top: 12px;
}

.bullet-glossar {
	width: 10px;
	height: 10px;
	background: url([[pix:theme|bullet-glossar]]) no-repeat top left;
}

.bullet-katalog {
	width: 10px;
	height: 10px;
	background: url([[pix:theme|bullet-katalog]]) no-repeat top left;
}

.nc-text {
	font-size: .8em;
	padding-left: 5px;
	padding-top: 10px;
	margin-bottom: 0px;
}

.nc-text span {
	font-weight: 800;
	display: block;
}

.fade-intro {
	box-shadow: 3px 0 5px rgba(0, 0, 0, 0.3);
    float: left;
    padding: 10px 10px 15px;
    width: 400px;
}

/*frontpage overlay on menu hover */
#fuzz {
	position:absolute; 
	top:0; 
	left:0; 
	width:100%; 
	z-index:99997; 
	display:none; 
	background: url([[pix:theme|black_opac]]);
}
#page-site-index .sitetopic .section .activity:hover, #page-site-index .course-content .section .activity:hover {
	background-color: transparent;
}

#page-admin-course-manage .region-main .region-content > form, #movecourses { overflow: auto; }

.moodle-dialogue-base .moodle-dialogue {
	z-index: 99999;
}
#page-footer .performanceinfo.siteinfo {
	margin: 77px 20% 0;
}