{{!
    This file is part of the Squared theme for Moodle
}}
{{!
    @template theme_squared/blocks

    Render the one column block layout

    Example context (json): {
        "block1" : {"class" : "block-settings", "blockinstanceid": 1},
        "block2" : {"class" : "block-navigation", "blockinstanceid": 2}
    }
}}
<div class="single-row" id="accordion" role="tablist" aria-multiselectable="true">
    {{#blocks}}
        <div class="{{class}} pairheader">
            <div role="button" data-toggle="collapse" 
                    data-target="#subcollapse{{blockinstanceid}}" aria-expanded="true" aria-controls="inst{{blockinstanceid}}" class="squared blockheader over-hover-to-bottom {{name}}">
                <div class="blockhead title">
                    <div class="alignself">
                        <div class="inner">
                            <div class="courseblock-icon"></div>
                            <div class="blocktitle">
                            {{{title}}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{#blockinstanceid}}
        <div {{#atts}} {{key}} = "{{value}}" {{/atts}}>
            <div class="card-heading dropdown-menu-left">
                {{{header}}}
            </div>
            <div id="subcollapse{{blockinstanceid}}" class="card-collapse collapse {{#open}}show{{/open}}" role="tabpanel" aria-labelledby="{{aria-labelledby}}" data-parent="#accordion">
                <div class="card-body p-0 m-0 block">
                    {{{content}}}
                </div>
            </div>
        </div>
        <a href="#sb-{{skipid}}" class="skip-block"> {{#str}} skipa, access, {{skiptitle}} {{/str}} </a>
        {{/blockinstanceid}}
        {{#movetarget}}
            {{{movetarget}}}
        {{/movetarget}}
    {{/blocks}}
</div>