<footer id="page-footer">
    <div class="row">
        <div class="col-md-12 text-center">
            <div id="course-footer">{{{coursefooter}}}</div>
        </div>
        <div class="col-sm-6">
            <ul class="footerlisting">
            {{#list}}
                <li><a href="{{url}}">{{text}}</a></li>
            {{/list}}
            </ul>
        </div>
        <div class="col-sm-6">
            {{{socialicons}}}
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 text-center">
            {{{footnote}}}
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 text-center">
            {{{logininfo}}}
            {{{standardfooterhtml}}}
        </div>
    </div>
</footer>