<div class="row headingimages">
    <div class="col-sm-4 col-sm-push-8">
        <a href="{{{homeurl}}}" class="homelink">
            <img src="{{{logoimg}}}" class="img-responsive">
        </a>
    </div>
    <div class="col-sm-8 col-sm-pull-4">
        <div class="bgimagecontainer" style="background-image: url('{{{headerimg}}}');">
        </div>
    </div>
</div>