<div class="search-wrapper inactive">
    <form action="{{{formaction}}}" method="get" class="search">
        <div id="search-trigger">
            <i class="open glyphicon glyphicon-search glyphicon-gray"></i>
            <i class="closed glyphicon glyphicon-remove glyphicon-gray"></i>
            <span class="sr-only">
            {{#str}} search {{/str}}
            </span>
        </div>
        <input type="text" placeholder="{{#str}}search {{/str}}" name="{{{searchfield}}}"
            id="coursesearchbox_squared" style="display: none;">
            {{{hiddenfields}}}
    </form>
</div>