<div class="search-wrapper inactive">
    <form action="{{{formaction}}}" method="get" class="search">
        <div id="search-trigger">
            <i class="open {{^fav}}fa fa-search{{/fav}}{{#fav}}fas fa-search{{/fav}} fa-gray"></i>
            <i class="closed {{^fav}}fa fa-times{{/fav}}{{#fav}}fas fa-times{{/fav}} fa-gray"></i>
            <span class="sr-only">
            {{#str}} search {{/str}}
            </span>
        </div>
        <input type="text" placeholder="{{#str}}search {{/str}}" name="{{{searchfield}}}"
            id="coursesearchbox_squared" style="display: none;">
            {{{hiddenfields}}}
    </form>
</div>