<div class="container-fluid">
    <nav role="navigation" class="navbar navbar-default">
        <div class="navbar-header pull-right">
            {{{usermenu}}}
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#moodle-navbar">
                <span class="sr-only">Toggle navigation</span>
                <img src="{{{togglebtn}}}" class="togglebtn" alt="toggle menu">
            </button>
        </div>
        <div id="moodle-navbar" class="navbar-collapse collapse">
            {{{custommenu}}}

            {{{languagemenu}}}

            {{{search}}}
            <ul class="nav pull-right">
                <li>{{{pageheadingmenu}}}</li>
            </ul>
        </div>
    </nav>
</div>