<header role="banner" class="navbar navbar-expand-lg navbar-light bg-light moodle-has-zindex position-{{#navpositionfixed}}fixed{{/navpositionfixed}}{{^navpositionfixed}}static{{/navpositionfixed}}">
    <nav class="nav navbar-nav mr-auto sq-hidden-md-down">
        <!-- custom_menu -->
        {{{ output.custom_menu }}}
        <!-- page_heading_menu -->
        {{{ output.page_heading_menu }}}
    </nav>

    <nav class="nav nav-nowrap ml-auto">
        <!-- search_box -->
        <span class="sq-hidden-md-down">
        {{{ output.search_box }}}
        </span>

        <!-- navbar_settings_menu_output -->
        {{{ output.navbar_settings_menu }}}

        <!-- navbar_plugin_output -->
        {{{ output.navbar_plugin_output }}}

        <!-- user_menu -->
        {{{ output.user_menu }}}
    </nav>
</header>